---
//Importaciones y js
---

<div class="container container-fluid p-0">
  <section>
    <h1 class="text-center">¡Hola! Bienvenido a mi <span id="nombre">Plantilla Astro</span></h1>
  </section>
</div>

<style>
  #nombre {
    background: linear-gradient(
      to right,
      var(--color-texto-principal),
      var(--color-destacado)
    );
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
